html {
  margin: 0;
}
body {
  font-family: "Arial", serif;
  margin: 12mm 12mm 12mm 12mm;
  background-color: #fff;
}

#page-break {
        page-break-inside:avoid;
        page-break-after: always;
    }


h1 {
    margin: 0px;padding: 0px;
    text-align: center;
    font-family: 'Merienda', cursive;
    color:#382424;
    text-shadow:0px 4px 8px rgba(0,0,0,0.4);

}

h2 {
    margin: 0px;padding: 0px;
    text-align: center;
    font-family: 'Merienda', cursive;
    color:#382424;
    text-shadow:0px 4px 8px rgba(0,0,0,0.4);
}

h3 {
    margin: 0px;padding: 0px;
    text-align: center;
    font-family: 'Merienda', cursive;
    color:#382424;
    text-shadow:0px 4px 8px rgba(0,0,0,0.4);
}


#logo1{
    height:50px;
    width:40px;
    float:left;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 0px; 
}

#logo2{
    height:50px;
    width:40px;
    float:right;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 0px; 
}

img {
    border: 0px solid #ddd;
    border-radius: 2px;
    padding: 5px;
    width: 125px; height: 125px;
    margin-right:20px;
    margin-bottom:20px;
}

table{
    width: 100%
}

table thead th {
    vertical-align: bottom;
}
table-bordered th {
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
    background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
    font-size: 6px;
    color: #444;
    text-transform: uppercase;
}
table-bordered th, table-bordered td {
    border-left: 1px solid #dddddd;
}
table th {
    font-weight: bold;
}
table th, table td {
    padding: 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    font-size: 12px;
    text-transform: uppercase;
}

th {
    font-weight: bold;
    text-align: -internal-center;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}
Inherited from table.table.table-bordered.table-hover
table-bordered {
    border: 1px solid #dddddd;
    border-left: 0;
    border-collapse: separate;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}




tr:hover {background-color: #f5f5f5}

tr:nth-child(even) {background-color: #f2f2f2}

th {
    background-color: #EDEBEB;
    color: black;
}